
/* 全体指定 */
.contact-form-h2{
    text-align: center;
}

/* スマホ用 */

@media screen and (max-width:768px) {
   a {
       color: #181919;
       text-decoration: none;
   }
   
   body {
       width: 100%;
       margin: 0;
       padding: 0;
       font-family: 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
   }

   .pc-navi {
       display: none;
   }
   
   header {
       position: relative;
       display: flex;
       align-items: center;
       background-color: #181919;
       color: #FFF;
       z-index: 10;
       width: 100%;
   }

   section {
    margin: 10px 0;
    padding: 15px;
}

section {
    margin: 10px 0;
    padding: 15px;
}
   
   h1 {
       margin: 0;
       padding: 0;
       width: 100%;
       text-align: center;
   }

   h2{
    text-align: center;
   }

   h1 img {
       width: 10%;
       margin: 3% 0  0 3%;
   }
   
   a {
       text-decoration: none;
       color: #FFF;
       font-size: large;
   }
   
   nav {
       margin: 0 0 0 auto;
   }
   
   #video {
       position: absolute;
   }

   .container {
       padding: 3%;
   }
   /* ヘッダー ハンバーガーメニュー */

   .drawer-hidden{
       display: none;
   }

   .drawer-open{
       display: flex;
       height: 60px;
       width: 70px;
       justify-content: center;
       align-items: center;
       position: relative;
       z-index: 100;
       cursor: pointer;
   }

   .drawer-open span,
   .drawer-open span:before,
   .drawer-open span:after {
       content: '';
       display: block;
       height: 3px;
       width: 25px;
       border-radius: 3px;
       background: #FFF;
       transition: 0.5s;
       position: absolute;
   }

   /* 三本線のうち一番上の棒の位置調整 */
   .drawer-open span:before {
       bottom: 8px;
   }
 
 /* 三本線のうち一番下の棒の位置調整 */
   .drawer-open span:after {
       top: 8px;
   }
 
 /* アイコンがクリックされたら真ん中の線を透明にする */
   #drawer-check:checked ~ .drawer-open span {
       background: rgba(255, 255, 255, 0);
   }
 
 /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
   #drawer-check:checked ~ .drawer-open span::before {
       bottom: 0;
       transform: rotate(45deg);
   }
 
 #drawer-check:checked ~ .drawer-open span::after {
       top: 0;
       transform: rotate(-45deg);
   }
   
 /* メニューのデザイン*/
   .drawer-content {
       width: 100%;
       height: 100%;
       position: fixed;
       top: 0;
       left: 100%;
       z-index: 11;
       background: #181919;
       transition: .5s;
   }

   .drawer-content li {
       position: relative;
       list-style: none;
       color: #FFE400;
       text-align: center;
       z-index: 200;
       padding: 20px 0;     
   }
 
 /* アイコンがクリックされたらメニューを表示 */
   #drawer-check:checked ~ .drawer-content {
       left: 0;/* メニューを画面に入れる */
   }

   /* トップビュー */

   .top_view {
       background: url(../img/video/top_video.mp4) no-repeat bottom center;
       background-size: cover;
       position: relative;
   }
   
   .top_view > .top_container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: #181919;
   }
   
   .top_view video {
       position: relative;
       width: 100%;
       opacity: 0.5;
       -webkit-filter:grayscale(100%);
       -moz-filter:grayscale(100%);
       -ms-filter:grayscale(100%);
       filter:grayscale(100%);   
   }
   
   .top_view img {
       position: absolute;
       width: 50%;
   }
   
   /* ABOUT */
   
   .about {
       padding: 8% 0 8% 0;
       background-color: #181919;
   }

   .about h1
   {
       text-align: center;
       color: #fff;
   }
   
   .about_heading1 {
       text-align: center;
   }
   
   .about_heading1 img {
       width: 80%;
   }
   
   .about_ttl {
       color: #FFF;
       font-size: 2em;
       font-weight: bold;
       text-align: center;
       letter-spacing: 0.5em;
       padding: 5% 0;
   }
   
   .about_description {
       color: #FFF;
       text-align: center;
   }
   
   /* SKILLS */
   
   .skills {
       padding: 8% 0 8% 0;
   }

   .skills h1
   {
       text-align: center;
       color: #181919;
   }
   
   .skills_heading {
       text-align: center;
       margin: 0 auto;
   }
   
   .skills_heading img {
       width: 80%;
       margin-bottom: 5%;
   }
   
   .list_skills {
       display: flex;
       align-items: center;
       margin: 0 auto;
       padding: 0;
   }
   
   .list_skills .ttl {
       font-size: 1em;
   }
   
   .list_skills > li {
       display: flex;
       align-items: center;
       flex-direction: column;
       margin: 0 auto;
       padding: 5% 0;
   }
   
   .list_skills p {
       color: #181919;
   }
   
   .skills_description {
       color: #181919;
       text-align: center;
   }
   
   
   .list_skills img {
       width: 25%;
   }

   .skills_ttl
   {
       color: #181919;
       font-size: 2em;
       font-weight: bold;
       text-align: center;
       letter-spacing: 0.5em;
       padding: 5% 0;
   }
   
   /* WORKS */
   
   .works {
       padding: 8% 0 8% 0;
       background-color: #181919;
       text-align: center;
   }

   .works h1
   {
       text-align: center;
       color: #fff;
   }

   .works p
   {
       color: #FFF;
       font-size: 2em;
       font-weight: bold;
       text-align: center;
       letter-spacing: 0.5em;
       padding: 0 0 3% 0;
   }
   
   .works_heading1 {
       text-align: center;
       margin: 0 auto;
   }
   
   .works_heading1 img {
       width: 80%;
   }

   .work_description
   {
       color: #FFF;
       text-align: center;
   }
   
   .work_list
   {
       color: #fff;
   }

   .layout_2_div img{
       text-align: center;
   }
   
   .layout_2_div .description {
       color: #FFF;
   }

   .layout_2_div img {
      width: 0%;
  }
   
   .works_img img {
       width: 80%;
       padding: 8% 0;
   }

   .contact_img img {
       width: 25%;
   }

   /* CAREER */
   .list_carrer{
       color: #181919;
   }

   .list_carrer li a{
       color: #181919;
   }
    
   /* CONTACT */
   .contact-form-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
   }
    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .contact-form h1 {
        margin: 0 auto;
        text-align: center;
        color: #000000;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: #ccc;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #444;
        border-radius: 5px;
        background-color: #555;
        color: #fff;
    }

    .form-group input:focus,
    .form-group textarea:focus {
        border-color: #888;
        outline: none;
    }

    form button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        /* background-color: #007bff; */
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #fff;
        color: #333;
    }
   
}

   
   /* ボタンアニメーション */
   .btn {
       font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
       text-align: center;
       padding-top: 40px;
       padding-bottom: 40px;
       background: #181919;
   }
     
   .btn-box {
       display: inline-block;
       width: 200px;
       text-align: center;
       font-size: 16px;
       color: #FFF;
       text-decoration: none;
       font-weight: bold;
       padding: 12px 24px;
       position: relative;
       border: 2px solid #FFF;
       transition: .4s;
   }
     
     .btn-box:hover {
       border: 2px solid transparent;
       color: #FFF;
     }
     
     .btn-box:before, .btn-box:after {
       width: 100%;
       height: 100%;
       z-index: 3;
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       box-sizing: border-box;
       transform: scale(0);
       transition: .2s;
     }
     
     .btn-box:before {
       border-bottom: 2px solid #FFF;
       border-left: 2px solid #FFF;
       transform-origin: 100% 0%;
     }
     
     .btn-box:after {
       border-top: 2px solid #FFF;
       border-right: 2px solid #FFF;
       transform-origin: 0% 100%;
     }
     
     .btn-box:hover:after,
     .btn-box:hover:before {
       transform: scale(1);
     }
   
   
   /* ボタン2 */
   
   .btn2 {
       font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
       text-align: center;
       padding-top: 40px;
       padding-bottom: 40px;
       background: #fff;
   }
     
   .btn-box2 {
       display: inline-block;
       width: 200px;
       text-align: center;
       font-size: 16px;
       color: #181919;
       text-decoration: none;
       font-weight: bold;
       padding: 12px 24px;
       position: relative;
       border: 2px solid #181919;
       transition: .4s;
   }
     
     .btn-box2:hover {
       border: 2px solid transparent;
       color: #181919;
     }
     
     .btn-box2:before, .btn-box2:after {
       width: 100%;
       height: 100%;
       z-index: 3;
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       box-sizing: border-box;
       transform: scale(0);
       transition: .2s;
     }
     
     .btn-box2:before {
       border-bottom: 2px solid #181919;
       border-left: 2px solid #181919;
       transform-origin: 100% 0%;
     }
     
     .btn-box2:after {
       border-top: 2px solid #181919;
       border-right: 2px solid #181919;
       transform-origin: 0% 100%;
     }
     
     .btn-box2:hover:after,
     .btn-box2:hover:before {
       transform: scale(1);
     }


   
   
   /* ここから下は旧コード */
   
   
  /* フッター */
   
  footer > .container{
   padding: 8% 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   background-color: #dcdcdc;
   }

   /* SNSリスト */

   .list_sns {
       display: flex;
       align-items: center;
       padding: 0;
   }

   .list_sns > li {
       margin: 0 20px;
       list-style: none;
   }

   .list_sns img {
       width: 20%;
   }

   .copyright {
       font: 300 14px/1em 'Noto Sans JP', 'noto sans japanese',sans-serif;
       margin: 10px 0 0;
   }


/* PC用 */

@media screen and (min-width: 769px) {

   .drawer{
       display: none;
   }

   a {
       color: #181919;
       text-decoration: none;
   }
   
   body {
       width: 100%;
       margin: 0 auto;
   }
   
   * {
       margin: 0;
       padding: 0;
   }

   .sp-navi {
       display: none;
   }
   
   header {
       position: relative;
       width: 100%;
       display: flex;
       align-items: center;
       background-color: #181919;
       color: #FFF;
       z-index: 10;
   }
   
   h1 {
       padding: 0;
       width: 100%;
   }

   h1 img {
       width: 5%;
       margin: 1%;
   }

   .pc-navi {
       margin: 0 10% 0 0 ;
   }
   
   a {
       text-decoration: none;
       color: #FFF;
   }

   nav {
       margin: 0 0 0 auto;
   }
   
   ul {
       list-style: none;
       margin: 0;
       display: flex;
   }
   li {
       margin: 0 0 0 30px;
       font-size: 1em;
   }
   #video {
       position: absolute;
   }
   
   
   /* トップビュー */
   
   .top_view {
       background: url(../img/video/top_video.mp4) no-repeat bottom center;
       position: relative;
   }
   
   .top_view > .top_container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: #181919;
   }
   
   .top_view video {
       position: relative;
       width: 100%;
       height: 100%;
       opacity: 0.5;
       -webkit-filter:grayscale(100%);
       -moz-filter:grayscale(100%);
       -ms-filter:grayscale(100%);
       filter:grayscale(100%);   
   }
   
   .top_view img {
       position: absolute;
       width: 50%;
   }
   
   /* ABOUT */
   
   .about {
       padding: 5%;
       background-color: #181919;
   }

   .about h1
   {
       text-align: center;
       color: #fff;
   }
   
   .about_heading1 {
       text-align: center;
       font-size: 1em;
       color: #FFF;
       font-weight: bold;
       letter-spacing: .1em;
       margin: 0 auto;
       padding: 0 0 3% 0;
   }
   
   .about_heading1 img {
       width: 25%;
   }
   
   .about_ttl {
       color: #FFF;
       font-size: 2em;
       font-weight: bold;
       text-align: center;
       letter-spacing: 0.5em;
       padding: 0 0 3% 0;
   }
   
   .about_description {
       color: #FFF;
       text-align: center;
   }
   
   /* SKILLS */
   
   .skills {
       padding: 5%;
   }
   
   .skills_heading {
       text-align: center;
       font-size: 1em;
       color: #181919;
       font-weight: bold;
       letter-spacing: .1em;
       margin: 0 auto;
       padding: 0 0 3% 0;
   }
   
   .skills_heading img {
       width: 25%;
   }   

   .list_skills {
       display: flex;
       padding: 0px;
       max-width: 50%;
       margin: 0 auto;
       padding: 0 0 50px 0;
   }
   
   .list_skills .ttl {
       font-size: 1em;
   }
   
   .list_skills > li {
       display: flex;
       align-items: center;
       flex-direction: column;
       margin: 0 auto;
       padding: 5% 0;
   }
   
   .list_skills p {
       color: #181919;
   }
   
   .skills_description {
       color: #181919;
       text-align: center;
   }
   
   
   .list_skills img {
       width: 25%;
   }

   .skills_ttl
   {
       color: #181919;
       font-size: 2em;
       font-weight: bold;
       text-align: center;
       letter-spacing: 0.5em;
       padding: 5% 0;
   }
   
   /* WORKS */
   
   .works {
       padding: 5%;
       background-color: #181919;
   }
   
   .works h1
   {
       text-align: center;
       color: #fff;
   }

   .works_ttl
   {
       color: #FFF;
       font-size: 2em;
       font-weight: bold;
       text-align: center;
       letter-spacing: 0.5em;
       padding: 0 0 3% 0;
   }
   
   .works_heading1 {
       text-align: center;
       font-size: 1em;
       color: #FFF;
       font-weight: bold;
       letter-spacing: .1em;
       margin: 0 auto;
   }
   
   .works_heading1 img {
       width: 25%;
   }

   .work_description
   {
       color: #FFF;
       text-align: center;
   }

   .work_list
   {
       text-align: left;
       color: #fff;
   }
   
   .layout_2_div .description {
       color: #FFF;
       margin-top: 10%;
   }
   
   .layout_2_div {
       margin: 5% auto;
       max-width: 70%;
   }
   
   .layout_2_div img {
       width: 70%;
   }
   
   /* CONTACT */
   .contact{
    padding: 5%;
    margin: 0 auto;
   }

   .contact-form-container {
    background-color: #333;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
   }
    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .contact-form h2 {
        margin: 0 auto;
        text-align: center;
        color: #000000;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: #ccc;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #444;
        border-radius: 5px;
        background-color: #555;
        color: #fff;
    }

    .form-group input:focus,
    .form-group textarea:focus {
        border-color: #888;
        outline: none;
    }

    form button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        /* background-color: #007bff; */
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #fff;
        color: #333;
    }
   
   /* ボタンアニメーション */
   .btn {
       font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
       text-align: center;
       padding-top: 40px;
       padding-bottom: 40px;
       background: #181919;
   }
     
   .btn-box {
       display: inline-block;
       width: 200px;
       text-align: center;
       font-size: 16px;
       color: #FFF;
       text-decoration: none;
       font-weight: bold;
       padding: 12px 24px;
       position: relative;
       border: 2px solid #FFF;
       transition: .4s;
   }
     
     .btn-box:hover {
       border: 2px solid transparent;
       color: #FFF;
     }
     
     .btn-box:before, .btn-box:after {
       width: 100%;
       height: 100%;
       z-index: 3;
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       box-sizing: border-box;
       transform: scale(0);
       transition: .2s;
     }
     
     .btn-box:before {
       border-bottom: 2px solid #FFF;
       border-left: 2px solid #FFF;
       transform-origin: 100% 0%;
     }
     
     .btn-box:after {
       border-top: 2px solid #FFF;
       border-right: 2px solid #FFF;
       transform-origin: 0% 100%;
     }
     
     .btn-box:hover:after,
     .btn-box:hover:before {
       transform: scale(1);
     }
   
   
   /* ボタン2 */
   
   .btn2 {
       font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
       text-align: center;
       padding-top: 40px;
       padding-bottom: 40px;
       background: #fff;
   }
     
   .btn-box2 {
       display: inline-block;
       width: 200px;
       text-align: center;
       font-size: 16px;
       color: #181919;
       text-decoration: none;
       font-weight: bold;
       padding: 12px 24px;
       position: relative;
       border: 2px solid #181919;
       transition: .4s;
   }
     
     .btn-box2:hover {
       border: 2px solid transparent;
       color: #181919;
     }
     
     .btn-box2:before, .btn-box2:after {
       width: 100%;
       height: 100%;
       z-index: 3;
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       box-sizing: border-box;
       transform: scale(0);
       transition: .2s;
     }
     
     .btn-box2:before {
       border-bottom: 2px solid #181919;
       border-left: 2px solid #181919;
       transform-origin: 100% 0%;
     }
     
     .btn-box2:after {
       border-top: 2px solid #181919;
       border-right: 2px solid #181919;
       transform-origin: 0% 100%;
     }
     
     .btn-box2:hover:after,
     .btn-box2:hover:before {
       transform: scale(1);
     }
   
   /* 2分割レイアウト */
   
   .layout_2_div {
       display: flex;
       flex-wrap: wrap;
   }
   
   .layout_2_div img {
       margin-left: 20%;
   }
   
   .layout_2_div > div {
       width: 50%;
   }
   
   /* フッター */
   
   footer > .container{
       padding: 40px 0;
       display: flex;
       flex-direction: column;
       align-items: center;
       background-color: #181919;
       color: #fff;
   }
   
   .copyright {
       font: 300 14px/1em 'Noto Sans JP', 'noto sans japanese',sans-serif;
       margin: 40px 0 0;
   }
}